/* style sheets for BTC ticker */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: #fff2e6;
  text-align: center;
}

#ticker-block {
	position: relative;
	width: 80%;
	left: 10%;
	text-align: center;
	background-color: #cc6600;
	color: white;
	padding: 10pt;
}

#ticker {
	font-size: 1.5em;
	font-weight: bold;
}

#refresh-info {
	color: lightgrey;
	font-style: italic;
	font-size: 0.8em;
	text-align: right;
	padding-right: 25pt;
}

button {
  border-radius: 8pt;
  color: #4CAF50;
  background-color: #e0e0e0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 5pt 10pt;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50;
  color: #e0e0e0;
}

#info {
	font-style: italic;
}
